<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Música almacenada en el dispositivo -->
    <uses-permission
        android:name="android.permission.READ_MEDIA_AUDIO" />

    <!-- Compatibilidad con Android 12 y anteriores -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <!-- Notificaciones -->
    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- Reproducción mediante servicio -->
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <application
        android:allowBackup="true"
        android:label="BlackWalk Music"
        android:theme="@style/Theme.BlackWalkMusic"
        android:supportsRtl="true">

        <!-- Pantalla principal -->
        <activity
            android:name="com.blackwalkmusic.MainActivity"
            android:exported="true">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

        <!-- Servicio de reproducción Media3 -->
        <service
            android:name="com.blackwalkmusic.MusicService"
            android:exported="true"
            android:foregroundServiceType="mediaPlayback">

            <intent-filter>

                <action
                    android:name="androidx.media3.session.MediaSessionService" />

            </intent-filter>

        </service>

    </application>

</manifest>
